 @media screen and (max-width: 1270px) {
     .container {
         padding: 0 1rem;
     }

     .top-header {
         display: none;
     }

     .bottom-header .navbar .nav {
         display: none;
     }

     .main-menu {
         justify-content: space-around;
     }

     .main-menu .slider .search-menu .search-form {
         width: 450px;
     }

     .slider .search-menu .search-form button {
         padding: 0 1rem;
         height: 50px;
     }

     .main-menu .slider .search-menu .search-form>span {
         padding: 0 0.5rem;
         font-size: 1rem;
     }

     .slider .search-menu .search-form input {
         margin-left: 0.8rem;
     }

     .main-menu .slider .search-menu .search-form>span::after {
         right: -35px;
     }

     .slider .search-menu .search-form i {
         padding: 0 0.5rem;
     }

 }

 @media screen and (max-width: 992px) {
     .main-menu {
         display: block;
     }

     .main-menu .menu {
         width: 100%;
         margin-bottom: 2rem;
     }

     .main-menu .slider {
         width: 100%;
     }
 }

 @media screen and (max-width: 768px) {
     .main-menu .slider .search-menu {
         display: block;
     }
     .main-menu .slider .search-menu .search-form {
         width: 100%;
         margin-bottom: 2rem;
     }

     .main-menu .slider .support {
         display: flex;
         align-items: center;
         justify-content: center;
     }

     .main-banner {
         padding: 3rem 2rem;
     }

     .slider .search-menu .search-form button {
         padding: 0 2rem;
         height: 50px;
     }
 }

 @media screen and (max-width: 500px) {
     .slider .search-menu .search-form button {
         padding: 0 0.5rem;
         font-size: 0.8rem;
         height: 50px;
     }

     .main-menu .slider .search-menu .search-form>span {
         font-size: 0.8rem;
     }

     .slider .search-menu .search-form input {
         margin-left: 0.5rem;
         font-size: 1rem;
     }

     .main-menu .slider .search-menu .search-form>span::after {
         right: -30px;
     }

     .main-banner h1 {
         font-size: 35px;
     }
 }

