:root {
    --main-color: #7fad39;
    --secondary: #1c1c1c;
}

body {
    font-family: 'Cairo', sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

i {
    font-size: 14px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.top-header-wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.top-header {
    background-color: #f5f5f5;
    padding: 1rem 0;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.header-left span.email {
    padding-left: 5px;
    position: relative;
    font-weight: bold;
}

.header-left span.email::after {
    content: "";
    width: 1px;
    height: 20px;
    background-color: var(--secondary);
    position: absolute;
    right: -27px;
    top: 2px;
    opacity: 0.1;
}

.header-right {
    display: flex;
    position: relative;
    align-items: center;
    gap: 2rem;
}

.header-right .icons {
    display: flex;
    gap: 1rem;
    font-size: 15px;
    position: relative;
}

.header-right .icons a {
    color: var(--secondary);
}

.header-right .icons::after {
    content: "";
    width: 1px;
    height: 20px;
    background-color: var(--secondary);
    position: absolute;
    right: -20px;
    top: 1px;
    opacity: 0.1;
}

.header-right .language {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100px;
}

.header-right .language img {
    margin-right: 5px;
}

.header-right .language ul {
    visibility: hidden;
    background-color: var(--secondary);
    position: absolute;
    top: 20px;
    transition: all 0.3s;
    width: 110px;
    z-index: 10000;
}

.header-right .language ul a {
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 0;
}

.header-right .language ul a:hover {
    color: var(--main-color);
}

.header-right .language:hover ul {
    visibility: visible;
    top: 10px;
}

.header-right .language i {
    color: gray;
}

.header-right .language::after {
    content: "";
    width: 1px;
    height: 20px;
    background-color: var(--secondary);
    position: absolute;
    right: -27px;
    top: 2px;
    opacity: 0.1;
}

.header-right .users i {
    padding-right: 4px;
    padding-left: 6px;
}

/* secound Header */
.bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.bottom-header .logo {
    width: 26%;
    cursor: pointer;
}

.bottom-header .fa-bars {
    font-size: 40px;
    color: var(--main-color);
    cursor: pointer;
}



.bottom-header .navbar {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.bottom-header .navbar .nav .nav-ul {
    display: flex;
    gap: 4rem;
}

.bottom-header .navbar .nav .nav-ul a {
    color: var(--secondary);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.bottom-header .navbar .nav ul a:hover,
.bottom-header .navbar .nav ul .active {
    color: var(--main-color);
    transition: 0.3s;
}

.bottom-header .navbar .nav .nav-pages {
    position: relative;
}

.bottom-header .navbar .nav .nav-pages .pages-ul a {
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-weight: normal;
    padding: 6px 0;
}

.bottom-header .navbar .nav .nav-pages .pages-ul a:hover {
    color: var(--main-color);
}

.bottom-header .navbar .nav .nav-pages .pages-ul {
    visibility: hidden;
    background-color: var(--secondary);
    position: absolute;
    transition: all 0.3s;
    top: 40px;
    z-index: 1000;
    width: 140px;
}

.bottom-header .navbar .nav .nav-pages:hover .pages-ul {
    visibility: visible;
    top: 25px;
}

.whishlist,
.whishlist-mob {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-right: 1rem;
}

.whishlist-mob {
    margin-bottom: 2rem;
    justify-content: center;
}

.whishlist .whishlist-icons,
.whishlist-mob .whishlist-icons {
    display: flex;
    gap: 1.5rem;
}

.whishlist .whishlist-icons a,
.whishlist-mob .whishlist-icons a {
    position: relative;
    color: #252525;
}

.whishlist .whishlist-icons a span,
.whishlist-mob .whishlist-icons a span {
    background-color: #7fad39;
    position: absolute;
    border-radius: 50%;
    top: 0;
    height: 13px;
    color: #f5f5f5;
    width: 13px;
    text-align: center;
    font-size: 10px;
    right: -12px;
    font-weight: bold;
}

.whishlist .items span,
.whishlist-mob .items span {
    font-size: 14px;
    color: #6f6f6f;
}

.whishlist .items strong,
.whishlist-mob .items strong {
    color: var(--secondary);
    font-size: 16px;
}

.main-menu {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
}

.main-menu .menu {
    width: 23%;
    cursor: pointer;
}

.main-menu .menu .menu-button {
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.9rem 0;
    color: white;
    cursor: pointer;
}

.main-menu .menu .menu-button span {
    font-weight: bold;
}

.main-menu .slider {
    width: 72%;
}

.main-menu .menu .playlist ul li {
    padding: 0.55rem 3rem;
}

.main-menu .menu .playlist ul li:hover {
    background-color: #7fad39;
}

.main-menu .menu .playlist ul li a {
    color: var(--secondary);
    font-size: 15px;
    font-weight: bold;
    display: block;
}

.main-menu .menu .playlist ul li:hover a {
    color: white;
}

.main-menu .menu .playlist {
    border: 1px solid #eee;
     display: block;
    transition: 0.5s;
}


.main-menu .slider .search-menu {
    display: flex;
    justify-content: space-between;
}

.main-menu .slider .search-menu .search-form {
    width: 550px;
    height: 50px;
    border: 1px solid #eee;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0;
}

.main-menu .slider .search-menu .search-form>span {
    font-weight: bold;
    padding-left: 1rem;
    position: relative;
}

.main-menu .slider .search-menu .search-form>span::after {
    content: "";
    width: 1px;
    height: 20px;
    background-color: var(--secondary);
    position: absolute;
    right: -70px;
    top: 1px;
    opacity: 0.1;
}

.slider .search-menu .search-form i {
    color: #6f6f6f;
    padding: 0 2rem;
}

.slider .search-menu .search-form input {
    border: none;
    font-size: 1rem;
    color: #b2b2b2;
    font-family: 'Cairo';
}

.slider .search-menu .search-form input::placeholder {
    color: #b2b2b2;
}

.slider .search-menu .search-form button {
    background-color: var(--main-color);
    border: none;
    height: 50px;
    padding: 0 2rem;
    position: absolute;
    font-weight: bold;
    color: white;
    right: 0;
    top: -1;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

.search-form input:focus {
    outline: none;
}

.slider .search-menu .support {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.slider .search-menu .support .support-call {
    background-color: #f5F5F5;
    padding: 1.2rem;
    margin: 0 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
}

.support-number-time span {
    display: block;
    line-height: 2;
    width: 130px;
}

.support .support-number {
    font-weight: bold;
}

.support .support-time {
    color: #6f6f6f;
    font-size: 12px;
}

.mainmenu-banner {
    margin-top: 1rem;
    background-image: url(../img/hero/banner.jpg);
    height: 400px;
    width: 100%;
    background-position: top center;
    background-size: cover;
}

.main-banner {
    padding: 6rem 4rem;
}

.main-banner span {
    color: var(--main-color);
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 5px;
}

.main-banner h1 {
    font-weight: 900;
    font-size: 48px;
    line-height: 1rem;
    color: var(--secondary);
}

.main-banner p {
    color: #6f6f6f;
    font-size: 15px;
    word-spacing: 0.1rem;
}

.main-banner button {
    border: none;
    color: white;
    font-size: 14px;
    width: 140px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 2rem;
    display: block;
    background-color: var(--main-color);
}

/* responsive design */
@media screen and (min-width: 1099px) {
    .burger .fa-bars {
        display: none;
    }

    .whishlist-mob {
        display: none;
    }

    .burger {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    .container {
        padding: 0 1rem;
    }

    .top-header {
        display: none;
    }

    .bottom-header .navbar .nav {
        display: none;
    }

    .main-menu {
        display: block;
    }

    .main-menu .menu {
        width: 100%;
        margin-bottom: 2rem;
    }
        .main-menu .menu .playlist {
        
            display: none;
            transition: 0.5s;
        }
    
        .main-menu .menu:hover .playlist {
            display: block;
    
        }
    .main-menu .slider {
        width: 100%;
    }

    .main-menu .slider .search-menu {
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .main-menu .slider .search-menu .search-form {
        width: 100%;
    }

    .main-menu .slider .support {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bottom-header {
        display: flex;
        justify-content: space-evenly;
        overflow: hidden;
    }

    .bottom-header .logo {
        width: 100%;
    }

    .bottom-header .navbar {
        width: 0%;
    }

    .main-banner {
        padding: 3rem auto;
    }

    .main-banner h1 {
        font-size: 30px;
        line-height: 0.5;
    }
}

@media screen and (max-width: 796px) {
    .main-menu .slider .search-menu {
        display: block;
    }

    .main-menu .slider .search-menu .search-form {
        width: 100%;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 530px) {
    .main-menu .slider .search-menu .search-form {
        width: 100%;
    }

    .slider .search-menu .search-form button {
        padding: 0 1rem;
        height: 50px;
    }

    .main-menu .slider .search-menu .search-form>span {
        font-size: 0.8rem;
    }

    .main-menu .slider .search-menu .search-form>span::after {
        right: -25px;
    }

    .slider .search-menu .search-form i {
        padding: 0 0.5rem;
    }
}

.humberger-menu-overlay {
    background-color: white;
    width: auto;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
}

.humberger_menu_wrapper {
    padding: 2rem;
    display: none;
    transition: all 0.3s;
}
/* .bottom-header .fa-bars:hover .humberger-menu-wrapper{
    display: block;
} */
.humberger_menu_nav {
    display: flex;
    align-items: center;
}

.humberger_menu_nav ul {
    padding-bottom: 1rem;
    width: 100%;
}

.humberger_menu_nav ul li {
    border-bottom: 1px solid #eee;
    padding: 0.5rem;
}

.humberger_menu_nav ul li a {
    color: var(--secondary);
    font-weight: bold;
}

.humberger_menu_nav .pages:hover .header_menu_dropdown {
    display: block;
}

.header_menu_dropdown {
    display: none;
}

.humberger_menu_icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
    font-size: 15px;
}

.humberger_menu_icons a {
    color: var(--secondary);
}

.humberger_menu_parg {
    font-size: 1rem;
    font-size: 1rem;
}

.humberger_menu_parg .first {
    padding-bottom: 0.5rem;
    font-weight: bold;
}
/*categories*/
.categories {
padding: 2rem 0;
}
.categories .wrapper {
display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 2rem;
    justify-content: center;
}
.categories .items{
position: relative;
height: 380px;
background-position: top center;
background-repeat: no-repeat;
background-size: cover;

}
.categories .slider1 {
background-image: url(../img/categories/cat-1.jpg);
}
.categories .slider2 {
    background-image: url(../img/categories/cat-2.jpg);
}
.categories .slider3 {
    background-image: url(../img/categories/cat-3.jpg);
}
.categories .slider4 {
    background-image: url(../img/categories/cat-4.jpg);
}
.categories .slider5 {
    background-image: url(../img/categories/cat-5.jpg);
}
.categories .items h5 {
position: absolute;
bottom: 2px;
width: 100%;
text-align: center;

}
.categories .items h5 a{
    color: var(--main-color);
    text-transform: uppercase;
    padding: 0.5rem 2rem;
    font-weight: bold;
background-color: white;
}
.main-title {
text-align: center;
text-transform: uppercase;
padding: 1rem 0;
position: relative;
}
.main-title::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 50px;
    text-align: center;
    bottom: 3px;
    left: 45%;
    background-color: var(--main-color);
}
